.subHeader{
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 100;
    margin: auto;
    &__name{
        @include font-bold(white,12px);
        letter-spacing: 1.25px;
        margin-left: 10px;
    }
    &__upgrade{
        margin-right: 20px;
        background-color: $blackest-night;
        @include font-bold(white,14px);
        letter-spacing: 1.25px;
        padding: 7px 35px;
        border-radius: 18px;
        cursor: pointer;
        border: 1px solid rgba(255,255,255,.7);
        transition: all ease-in-out 0.1s;
        @media(hover){
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    &__group{
        position: relative;
    }
    &__info{
        border-radius: 18px;
        padding-right: 7px;
        padding-top: 1px;   
        padding-bottom: 1px;
        background-color: $blackest-night;
        display: flex;
        flex-basis: auto;
        transition: background-color ease-in-out 0.2s;
        align-items: center;
        cursor: pointer;
        @media (hover){
            &:hover{
                background-color: rgb(49, 49, 49);
            }
        }
    }
    &__avatar{
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
    &__dropdown{
        margin-top: 10px;
        width: 150%;
        top: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #282828;
        box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
        right: 0;
        border-radius: 4px;
        padding: 5px;
        opacity: 0;
        visibility: hidden;
        transition: all ease-in-out 0.2s;
        &-link{
            padding: 8px;
            // background-color: red;
            cursor: pointer;
            margin-top: 2px;
            @include font-regular(white,14px);
            transition: background-color ease-in-out 0.2s;
            display: block;
            &:hover{
                border-radius: 4px;
                background-color: rgba(255,255,255,.1);
            }
        }
        &.add{
            opacity: 1;
            visibility: visible;
        }
    }
}